<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titreDuDocument %}
        titre par défaut du document
        {% endblock titreDuDocument %}</title>
</head>

<body>
    <header>header</header>
    <hr>
    {% block corpDuDocument %}
    du contenu par défaut du bloc corpDuDocument
    {% endblock corpDuDocument %}
    <hr>
    <footer>footer</footer>
</body>

</html>